#root {
  background: #e6ecf0;
}

.App header {
  background-color: #8b0000;
  color: ivory;
  margin-bottom: 0;
}

.App header .logo {
  background-image: url('../images/porphyry.gif');
  background-repeat: no-repeat;
  background-position: center;
  min-height: 55px;
}

.Status {
  background-color: rgb(60, 50, 50);
  color: ivory;
  display: block;
  padding: 4px;
}

.Status a {
  color: ivory;
  display: block;
  padding: 0 1rem;
  text-align: left;
}

.App-content {
  min-height: 100vh;
}

.Subject, .Description {
  background: #fff;
}

.Subject h2, .Description h2 {
  color: ivory;
  margin: 0;
  padding: .5rem;
}

.Subject h2 {
  background-color: dimgrey;
}

.Description h2 {
  background-color: #8b0000;
}

.fullImage {
  text-align: center;
  margin: .5rem 0;
}

.fullImage a {
  color: dimgrey;
}

.DescriptionModality {
  flex-direction: column;
  background-color: #8b0000;
  color: ivory;
  padding: 4px;
  margin: 1px;
}

.Topics {
  padding: 20px;
  flex-direction: column;
  justify-content: flex-start;
}

.Topic {
  text-align: left;
  list-style-type: none;
}

.Topic a {
  color: black;
}

.Bullet {
  color: darkgrey;
}

.Closed > .Bullet:before {
  content: '▶';
}

.Closed > ul {
  display: none;
}

.Opened > .Bullet:before {
  content: '▼';
}

.Topic:not(.Opened):not(.Closed) > .Bullet:before {
  content: '◼';
}

.Topic span {
  color: lightgrey;
}

.Selected {
  background-color: rgb(204, 153, 51);
  font-weight: bold;
  padding: 1px;
  border-radius: 3px;
}

.Items {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.Item {
  margin: 5px;
  color: black;
}

.Attributes {
  display: table;
  width: 100%;
}

.Attribute {
  display: table-row;
}

.Key {
  display: table-cell;
  padding: 5px;
  text-align: right;
  font-weight: normal;
}

.Value {
  display: table-cell;
  padding: 5px;
  text-align: left;
  font-weight: bold;
}

.TopicPath {
  display: flex;
  flex-direction: row;
}

.TopicPath > .Topic:not(:last-of-type):after {
  content: '>';
  padding: 5px;
}

.TopicPath > .Topic:last-of-type {
  font-weight: bold;
}


.Outliner {
  margin: 0;
  font-size: 20px;
  text-align: left;
}

.Outliner ul {
  background-color: whitesmoke;
}

.TopicAdding {
  padding-top: 5px;
  display: flex;
  flex-direction: row;
  align-content: center;
  width: 100%;
}

.TopicValidateButton, .TopicCancelButton {
  background-color: #8b0000;
  color: ivory;
}

.TopicValidateButton:disabled,
.TopicValidateButton[disabled] {
  background-color: #cccccc;
  color: dimgrey;
}

.SuggestionItem {
  font-size: 14px;
  text-align: left;
  font-weight: normal;
}

.react-autosuggest__input {
  width: 17vw;
}

.DeleteTopicButton {
  background-color: #8b0000;
  color: ivory;
}

.creationButton, .deleteButton {
  background: white;
  margin-bottom: 1rem;
}

.Return {
  position: fixed;
  width:60px;
	height:60px;
	bottom:40px;
	right:40px;
}

.f-no-select {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.m-tree {
  position: relative;
  overflow: hidden;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.m-draggable {
  position: absolute;
  opacity: 0.8;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.m-node.placeholder > * {
  visibility: hidden;
}
.m-node.placeholder {
  border: 1px dashed #ccc;
}
.m-node .inner {
  position: relative;
  cursor: pointer;
  padding-left: 15px;
}
.m-node .collapse {
  display: block;
  position: absolute;
  left: 0;
  cursor: pointer;
}
.m-node .caret-right:before {
  content: '\25B8';
}
.m-node .caret-down:before {
  content: '\25BE';
}

.wrap {
  height: 34px;
}
.wrap:hover button {
  display: inherit;
  margin-right: 10px;
  z-index: 999
}
.wrap button {
  display: none;
}
