.App {
  display: flex;
  flex-direction: column;
}

.App h1 {
  background-color: rgb(153, 51, 0);
  color: ivory;
  background-image: url('../images/porphyry.gif');
  background-repeat: no-repeat;
  background-position: right;
}

.Status {
  background-color: rgb(60, 50, 50);
  color: ivory;
  padding: 2px;
}

.App-content {
  display: flex;
  min-height: 100vh;
  flex-direction: row;
}

.Description {
  flex-direction: column;
  flex-grow: 1;
  margin: 1px;
}

.Subject {
  flex-direction: column;
  flex-grow: 2;
}

.Subject > div {
  background-color: dimgrey;
  color: rgb(240, 240, 240);
  padding: 4px;
  margin: 2px;
}

.Subject > div > div {
  background-color: ghostwhite;
}

.DescriptionModality {
  flex-direction: column;
  background-color: rgb(153, 51, 0);
  color: ivory;
  padding: 4px;
  margin: 1px;
}

.Topics,
.Attributes {
  background-color: whitesmoke;
  color: black;
}

.Topics {
  padding: 20px;
  flex-direction: column;
  justify-content: flex-start;
}

.Topic {
  text-align: left;
  list-style-type: none;
}

.Bullet {
  color: darkgrey;
}

.Closed > .Bullet:before {
  content: '▶';
}

.Closed > ul {
  display: none;
}

.Opened > .Bullet:before {
  content: '▼';
}

.Topic:not(.Opened):not(.Closed) > .Bullet:before {
  content: '◼';
}

.Topic span {
  color: lightgrey;
}

.Selected {
  background-color: rgb(204, 153, 51);
  font-weight: bold;
  padding: 1px;
  border-radius: 3px;
}

.Items {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.Item {
  margin: 5px;
  color: black;
}

.Attributes {
  display: table;
  width: 100%;
}

.Attribute {
  display: table-row;
}

.Key {
  display: table-cell;
  padding: 5px;
  text-align: right;
  font-weight: normal;
}

.Value {
  display: table-cell;
  padding: 5px;
  text-align: left;
  font-weight: bold;
}

.TopicPath {
  display: flex;
  flex-direction: row;
}

.TopicPath > .Topic:not(:last-of-type):after {
  content: '>';
  padding: 5px;
}

.TopicPath > .Topic:last-of-type {
  font-weight: bold;
}

.TopicAdding {
  padding-top: 5px;
  display: flex;
  flex-direction: row;
  align-content: center;
  width: 100%;
}

.TopicValidateButton {
  font-size: 12px;
  text-align: center;
  margin-left: 5px;
  width: 25px;
  height: 20px;
  background-color: rgb(153, 51, 0);
  color: ivory;
}

.TopicValidateButton:disabled,
.TopicValidateButton[disabled] {
  background-color: #cccccc;
}
.TopicCancelButton {
  font-size: 14px;
  text-align: center;
  margin-left: 5px;
  padding-bottom: 5px;
  width: 25px;
  height: 20px;
  background-color: rgb(153, 51, 0);
  color: ivory;
}

.SuggestionItem {
  font-size: 14px;
  text-align: left;
  font-weight: normal;
}

.react-autosuggest__input {
  width: 17vw;
}
.DeleteTopicButton {
  margin-left: 5px;
  align-self: center;
  background-color: rgb(153, 51, 0);
  color: ivory;
}
