#root {
  background: #e6ecf0;
}

.App header {
  background-color: #8b0000;
  color: ivory;
  margin-bottom: 0;
}

.App header .logo {
  background-image: url('../images/porphyry.gif');
  background-repeat: no-repeat;
  background-position: center;
  min-height: 55px;
}

h1 a, h1 a:hover {
  color: ivory;
  text-decoration: none;
}

.Status {
  background-color: rgb(60, 50, 50);
  color: ivory;
  display: block;
  padding: 4px;
}

.Authenticated {
  position: absolute;
  right: 0;
}

.Authenticated a {
  color: lightgrey;
  padding: 0 8px;
}

.Authenticated input:not([type='submit']) {
  background: dimgrey;
  color: white;
  border: 0;
  margin: 1px;
}

.Authenticated input::placeholder {
  color: lightgrey;
}

.App-content {
  min-height: 100vh;
}

.Subject, .Description {
  background: #fff;
}

.Subject h2, .Description h2 {
  color: ivory;
  margin: 0;
  padding: .5rem;
}

.Subject h2 {
  background-color: dimgrey;
}

.Description h2 {
  background-color: #8b0000;
}

.cursor-zoom {
  cursor: zoom-in;
}

.cursor-pointer {
  cursor: pointer;
}

.DescriptionModality {
  flex-direction: column;
  background-color: #8b0000;
  color: ivory;
  padding: 4px;
  margin: 1px;
}

.Topics {
  padding: 20px;
  flex-direction: column;
  justify-content: flex-start;
}

.Topics .newTopic {
  padding:5px;
  width: 85%;
  color: #999;
}

.Topic {
  text-align: left;
  list-style-type: none;
}

.Topic a, a.Topic, .ArticleTitle a {
  color: black;
}

.Topic .oi {
  color: darkgrey;
  font-size: .9em;
  text-align: center;
  width: 1.5em;
}

.Topic .oi.leaf:before {
  content: '\E094';
  font-size: .6em;
  vertical-align: .3em;
}

.Closed > ul {
  display: none;
}

.Selected {
  background-color: rgba(238, 170, 51, 0.6);
  font-weight: bold;
  padding: 1px;
  border-radius: 3px;
}

.Items {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.Item {
  margin: 5px;
  color: black;
}

.Attributes, .Resources {
  display: table;
  width: 100%;
}

.Attribute, .Resource {
  display: table-row;
}

.AttributeForm {
  padding: 20px;
  padding-top: 5px;
}

.AttributeForm input.form-control {
  text-align: center;
}

.Key {
  display: table-cell;
  padding: 5px;
  text-align: right;
  font-weight: normal;
}

.Value {
  display: table-cell;
  padding: 5px;
  text-align: left;
  font-weight: bold;
}

.Attribute .buttons {
  display: table-cell;
  white-space: nowrap;
}

.DeleteButton, .EditButton {
  visibility: hidden;
}

div:hover > .buttons > button,
div:hover > .DeleteButton,
div:hover > .EditButton {
  visibility: visible;
}

.Resource > .resourceName {
  display: table-cell;
  padding: 5px;
  text-align: left;
}

.TopicPath > .DeleteTopicButton, .Attribute > .DeleteTopicButton, .Resource > .buttons {
  visibility: hidden;
}

.TopicPath:hover > .DeleteTopicButton, .Attribute:hover > .DeleteTopicButton, .Resource:hover > .buttons {
  visibility: visible;
}

.TopicPath > .Topic:not(:last-of-type) {
  opacity: 0.7;
  font-style: italic;
}

.Topics .Topic > a {
  opacity: 0.8;
}

.TopicPath > .Topic:hover, .TopicPath > .Topic:last-of-type:hover,
.Topics .Topic > a:hover, .ArticleTitle:hover a {
  opacity: 1;
}

.TopicPath > .TopicSeparator {
  padding: 0 5px;
}

.TopicPath > .Topic:last-of-type, .ArticleTitle a {
  opacity: 0.8;
  font-weight: bold;
}

.TopicTag, .TopicTag[href], .TopicTag[href]:hover {
  background-color: #f8f9fa;
  color: #212529;
  display: inline-block;
  margin: 0 .3em;
}

.TopicTag > .badge-pill {
  border-radius: 100%;
  display: inline-block;
  font-size: 50%;
  opacity: .9;
  padding: .4em .5em .5em;
  vertical-align: top;
}

.TopicTag > .badge-pill.oi-x {
  padding-top: .3em;
}

.TopicTag > .badge-pill:hover {
  opacity: 1;
}

.TopicAdding, .AttributeForm {
  padding-top: 5px;
  display: flex;
  flex-direction: row;
  align-content: center;
  width: 100%;
}

.ValidateButton {
  background-color: #abd14b;
  color: ivory;
}

.inactive .ValidateButton {
  visibility: hidden;
}

.modify .ValidateButton {
  background-color: #f1bb5b;
  color: ivory;
}

.ValidateButton:disabled,
.ValidateButton[disabled] {
  background-color: #cccccc;
  color: dimgrey;
}

.SuggestionItem {
  font-size: 14px;
  text-align: left;
  font-weight: normal;
}

.react-autosuggest__input {
  width: 17vw;
}

div.attributeInput,
div.autosuggest {
  width:85%;
}

.DeleteButton {
  background-color: #8b0000;
  color: ivory;
}

.creationButton {
  margin-bottom: 1rem;
}

.Return {
  position: fixed;
  width:60px;
  height:60px;
  bottom:40px;
  right:40px;
}

ul.Outliner,
.outliner-node > ul {
  position: relative;
  padding-left: 20px;
}

.outliner-node .caret {
  cursor: pointer;
  position: absolute;
  left: 0px;
  min-width:25px;
  min-height: 20px;
}

.outliner-node div.after-handle,
.outliner-node li.first-handle {
  height:25px;
  border-style:dashed;
  border-width: 1px;
  border-color:black;
  background-color: lightgrey;
  display:none;
}

.outliner-node.dragged-after > div.after-handle,
.outliner-node.dragged-into > ul > li.first-handle {
  display:inline;
}

.outliner-node.has-children.closed > .caret:before {
  content: '\25B8';
}
.outliner-node.has-children.open > .caret:before {
  content: '\25BE';
}

.outliner-node.closed > ul {
  display: none;
}

.Outliner li {
  list-style-type: none;
  min-height: 2em;
}

.Outliner li.dragged {
  background-color: lightgrey;
}

.Outliner li.active > span.wrap {
  background-color: rgb(199, 222, 237);
}

.Outliner input {
  border: none;
  background: transparent;
  width:100%;
}

.id {
  display: none;
  font-size: 0.8em;
  color:#111;
  padding:1em;
}

.wrap:hover button{display: inherit;margin-right: 10px;z-index: 999}
.wrap button{display:none;}

.Article {
  border-bottom: 1px solid #DDD;
  color: black;
  display: block;
  margin: 1em;
  text-align: left;
  width: 100%;
}

.ArticleTitle {
  font-weight: bold;
}

.wrap {
  min-height: 34px;
  display: block;
}
.wrap button {
  display: none;
  margin-left: 10px;
}
.wrap:hover button {
  display: inherit;
}

.btn-xs {
  border-radius: .2rem;
  font-size: .6rem;
  line-height: 1.5;
  padding: .15rem .3rem;
  margin-left:2px;
}

.btn-light {
  border-color: #dddddd;
}

.btn.add, .input-group-append .btn {
  border: 1px solid #ced4da;
}
.btn:not(.btn-xs) .oi {
  vertical-align: middle;
}
